

@media screen and (max-width: 1024px) {

  /*Hero Section*/

  .hero-content{
    width: 80%;
    margin-top: -100px;
  }
  .hero-text h1 {
    font-size: 2.2rem;
    width: 400px;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    text-align: justify;
  }

  /*Temukan Klien*/
  .client-content{
    width: 80%;
  }
  .client-left h2{
    width: 400;
    font-size: 2.5rem;
  }

  .client-left p{
    font-size: 1.2rem;
    width: 410px;
  }

  .client-stats{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 430px;
  }
  .stat-box{
    width: 200px;
  }

      .stat-box h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #ffffff;
    }
    .stat-box p{
      font-size: 0.9rem;
      width: 200px;
      margin-bottom: 10px;
    }

.client-right {
  flex: 1;
  text-align: left;
}

.client-right img {
  max-width: 200%;
  height: auto;
  object-fit: contain;
  margin-left: -170px;
  transition: all 0.3s ease;
}

  /*masalah section*/
  .masalah{
    width: 90%;
  }
.masalah-body {
  padding: 0.8rem;
  text-align: justify;

}
  .masalah-card{
    width: 70%;
  }
  .item img{
    width: 30px;
  }


  /* Solusi Section*/
  .solusi-layered-section {
    width: 90%;
  }
  .solusi-layered-container {
    padding: 0 3rem;
    gap: 2rem;
    margin-top: 8rem;
  }

  .left-phone img {
    width: 100%;
    height: auto;
  }

.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin-left: 20px;
}

  .title-heading {
    font-size: 2rem;
  }

  .title-feature {
    gap: 1.2rem;
  }

  .title-feature img {
    width: 35px;
    height: 35px;
  }

  .title-feature p {
    font-size: 1rem;
  }

  .title-dots {
    margin-top: 2rem;
  }





  /*layanan section*/
  .layanan-container{
    gap: 1rem;
    max-width: 900px;
}
.layanan-header h2{
  font-size: 2.5rem;
}


  /*keahlian section*/
  .keahlian-wrapper{
    height: 700px;
  }
  .keahlian-wrapper .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .keahlian-wrapper .skills,
  .keahlian-wrapper .form-card {
    flex: 1 1 50%;
    max-width: 40%;
  }

  .keahlian-wrapper .skills h2{
    font-size: 3rem;
  }
  .keahlian-wrapper .subtitle {
    text-align: left;
    width: 400px;
  }
  .keahlian-wrapper .skill-bar .icon img {
    width: 30px;
    height: 30px;
}


  .keahlian-wrapper .skill-bar {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
    flex-wrap: wrap;
  }

  .keahlian-wrapper .bar-box .bar {
    width: 100%;
    max-width: 400px;
    height: 10px;
  }

  .keahlian-wrapper .form-card {
    margin: 0 auto;
    max-width: 300px;
    height: 500px;
    padding: 50px 25px;
    margin-right: 10px;
  }

  .keahlian-wrapper .form-card h3 {
    text-align: left;
    font-size: 1.7rem;
    margin: -40px auto 20px auto;
  }

.keahlian-wrapper .card-1 {
  margin-bottom: 20px;
  margin-left: -50px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  height: 60px;
  margin-right: 60px;
  width: 270px;
}
.keahlian-wrapper .card-2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -50px;
  margin-right: 25px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  height: 60px;
  width: 290px;
}
.keahlian-wrapper .card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -50px;
  margin-right: 100px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  height: 60px;
  width: 250px;
}

.keahlian-wrapper .card-1 .icon-btn-1{
  background: rgba(143, 162, 255, 1);
  border: none;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-right: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.keahlian-wrapper .card-2 .icon-btn-2 {
  background: rgba(143, 162, 255, 1);
  border: none;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-right: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.keahlian-wrapper .card .icon-btn {
  background: rgba(143, 162, 255, 1);
  border: none;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-right: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.keahlian-wrapper .card-1 p {
  margin: 0;
  color: #858585;
  font-size: 1rem;
  font-weight: 300;
    text-align: justify;
}

.keahlian-wrapper .card-2 p {
  margin: 0;
  color: #858585;
  font-size: 1rem;
  font-weight: 300;
    text-align: justify;
}

.keahlian-wrapper .card p {
  margin: 0;
  color: #858585;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  width: 300px; 
}

/*Project Section*/
.project-card{
  display: none;
  flex-shrink: 0;
  margin-top: 30px;
  opacity: 0;
  transform: scale(1);
  transition: 
    transform 0.3s ease,
    opacity 0.3s ease,
    box-shadow 0.3s ease,
    margin-top 0.3s ease;
}
.project-card.active {
  display: flex;
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
  .carousel-btn.prev {
    left: 10px;
  }
  .carousel-btn.next {
    right: 10px;
  }


  /* Partner Section*/
  .partner-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 80px;
}

.partner-card {
  background: #f6f6f6;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 220px;
  height: auto;
  padding: 50px;
  transition: transform 0.3s;
}

.partner-card:hover {
  transform: translateY(-5px);
}

.partner-logo img {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.partner-card:hover .partner-logo img {
  transform: scale(1.05);
} 


/*testimoni section*/
.testimonial-card {
  background: rgba(217, 217, 217, 0.35);
  border-radius: 16px;
  padding: 40px 30px;
  max-width: 620px;
  width: 100%;
  box-shadow: 0 6px 20px rgba(109, 109, 109, 0.1);
  text-align: left;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: visible;
  height: 250px;

}

/* Text testimoni di kiri */
.testimonial-text {
  font-size: 1.2rem;
  color: #6b6b6b;
  flex: 1;
  z-index: 1;
  position: relative;
  max-width: 70%;
  margin-left: 30px;
  margin-top: 50px;
  text-align: justify;
  
}

/* Logo & Nama berada di kanan, agak keluar */
    .client-info-outside {
    position: absolute;
    margin-right:80px;
    top: 40px;
    width: 200px;
    background: rgb(133, 133, 133);
    padding: 15px;
    /* border-radius: 8px; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border-radius: 20px;
    transition: all 0.3s ease;
}

/* Logo */
.client-logo {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}


/* Nama Klien */
.client-name {
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 1.4;
}

.client-name span{
    font-size: 10px;
}
/* Slider dot */
.slider-nav {
  margin-top: 40px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: #002f6c;
}


/*.join-section*/
.join-section {
  background-color: #101c49;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 100px auto;
  max-width: 900px;
}

.join-logo{
  margin-left: 10px;
  margin-top: 10px;
}

.join-left h2 {
  margin-left: 30px;
  font-size: 2rem;
}
.join-left p{
  margin-left: 30px;
}
.app-buttonGP {
    margin-left: 30px;
}
.join-right img{
  width: 374px;
  height: 310px;
  margin-bottom: -120px;
}

.social-links{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}


}






 


/* Responsive: Tablet (768px) dan di bawahnya */
@media screen and (max-width: 768px) {

  /*Hero Section*/
  .hero-text h1 {
    font-size: 1.7rem;
    width: 300px;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .hero-text p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    text-align: justify;
  }

 /*Temukan Klien*/
  .client-content{
    margin-top: -80px;
    margin-bottom: -70px;
  }
    .client-left h2 {
    font-size: 1.7rem;
    width: 100%;
    margin-bottom: 0.5rem;
    width: 300px;
  }

  .client-left p {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
    width: 300px;
  }

.client-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    width: 350px;
}

.stat-box{
width: 150px;
}
.stat-box h3 {
  font-size: 1rem;
  font-weight: bold;
  width: 150px;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.stat-box p {
  font-size: 0.7rem;
  color: #e0e0e0;
    width: 170px;
    margin-bottom: 5px;
}


.client-right {
    flex: 1;
    text-align: right;
    margin-bottom: 0; 
}

.client-right img {
    max-width: 200%;
    height: 500px;
  transition: all 0.3s ease;
}

/*masalah section*/
.section-title{
  font-size: 2rem;
  margin-bottom: 10px;
}
.masalah-card .masalah-header{
  font-size: 1rem;
}
  .masalah{
    max-width: 780px;
    width: 100%;
  }
.masalah-body {
  padding: 0.8rem;
  text-align: justify;

}
  .masalah-card{
    width: 70%;
  }
  .item img{
    width: 25px;
    height: 25px;
  }
  .item p{
    font-size: 0.8rem;
  }


 /* Section Layanan Kami */
.layanan-section {
    padding: 0rem 0rem;
    background-color: #fff;
    align-items: center;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}
.layanan-header h2{
  margin-top: 60px;
  font-size: 2rem;
}
.layanan-header p {
    font-size: 1rem;
    color: #777;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
  .layanan-container{
    gap: 0.2rem;
    margin: 1rem 3rem;
    max-width: 700px;
}


/* Kiri & Kanan */
.layanan-column {
  flex: 1;
  width: 260px;
}

.layanan-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
  text-align: left;
}

.layanan-item img {
  width: 35px;
  height: 35px;
  margin-left: 0px;
}

.layanan-item h4 {
  margin-top: -10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
}

.layanan-item p {
  font-size: 1rem; 
  color: #444;
  margin-top: 0.2rem;
  max-width: 100%;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Gambar Tengah */
.layanan-image {
  flex: 1;
  min-width: 100px;
  text-align: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.layanan-image img {
  max-width: 100%;
  height: 200px;
  margin-top: 0px;
}

    /* Partner Section */
    .partner-section h2{
      font-size: 1.7rem;
    }
  .partner-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 80px;
}

.partner-card {
  background: #f6f6f6;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 180px;
  height: 155px;
  padding: 20px;
  transition: transform 0.3s;
}

.partner-card:hover {
  transform: translateY(-5px);
}

.partner-link{
  font-size: 10px;
}
.partner-logo img {
  width: 65%;
  max-height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.partner-card:hover .partner-logo img {
  transform: scale(1.05);
} 



/* Testimonial Section */
.testimonial-card {
  background: rgba(217, 217, 217, 0.35);
  border-radius: 16px;
  padding: 40px 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 6px 20px rgba(109, 109, 109, 0.1);
  text-align: left;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: visible;
  height: 200px;

}

/* Text testimoni di kiri */
.ulasan-klien h2{
  font-size: 1.7rem;
}
.testimonial-text {
  font-size: 1rem;
  color: #6b6b6b;
  flex: 1;
  z-index: 1;
  position: relative;
  max-width: 70%;
  margin-left: 30px;
  margin-top: 20px;
  text-align: justify;
  
}

/* Logo & Nama berada di kanan, agak keluar */
    .client-info-outside {
    position: absolute;
    top: 40px;
    width: 150px;
    margin-right: 100px;
    background: rgb(133, 133, 133);
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border-radius: 20px;
    transition: all 0.3s ease;
}

/* Logo */
.client-logo {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}


/* Nama Klien */
.client-name {
  font-size: 10px;
  color: white;
  text-align: center;
  line-height: 1.4;
}

.client-name span{
    font-size: 8px;
}

/*.join-section*/
.join-section {
  background-color: #101c49;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 100px auto;
  max-width: 680px;
}

.join-logo{
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
}


.join-left h2 {
  margin-left: 15px;
  font-size: 1.1rem;
}
.join-left p{
  margin-left: 15px;
  font-size: 0.8rem;
}
.app-buttonGP {
    margin-left: 15px;
    font-size: 0.5rem;
}
.app-buttonAP{
  font-size: 0.5rem;
}
.join-right img{
  width: 354px;
  height: 310px;
  margin-bottom: -20px;
}

.social-links{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}



  /*keahlian section*/
.form-card {
width:55%;
height: auto;
text-align: center;
}

  .keahlian-wrapper{
    height: 600px;
  }
  .keahlian-wrapper .container {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
  }

  .keahlian-wrapper .skills{
    flex: 1 1 20%;
    max-width: 40%;
    margin-right: 50px;
    margin-top: 20px;
    width: 300px;
  }

  .keahlian-wrapper .skills h2{
    font-size: 1.8rem;
  }
  .keahlian-wrapper .subtitle {
    text-align: left;
    margin-left: 0;
    font-size: 1rem;
  }
  .keahlian-wrapper .skill-bar .icon img {
    width: 30px;
    height: 30px;
}


  .keahlian-wrapper .skill-bar {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
    flex-wrap: wrap;
  }

  .keahlian-wrapper .bar-box .bar {
    width: 100%;
    max-width: 400px;
    height: 10px;
  }

  .keahlian-wrapper .bar-box .label {
    font-size: 1rem;
  }

  .keahlian-wrapper .form-card {
    margin: 0 auto;
    max-width: 300px;
    height: 450px;
    padding: 50px 25px;
    margin-right: 10px;
  }

  .keahlian-wrapper .form-card h3 {
    text-align: left;
    font-size: 1.4rem;
    margin: -40px auto 20px auto;
  }

.keahlian-wrapper .card-1 {
  margin-bottom: 20px;
  margin-left: -50px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  height: 60px;
  margin-right: 60px;
  width: 270px;
}
.keahlian-wrapper .card-2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -50px;
  margin-right: 25px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  height: 60px;
  width: 290px;
}
.keahlian-wrapper .card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -50px;
  margin-right: 100px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  height: 60px;
  width: 250px;
}

.keahlian-wrapper .card-1 .icon-btn-1{
  background: rgba(143, 162, 255, 1);
  border: none;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-right: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.keahlian-wrapper .card-2 .icon-btn-2 {
  background: rgba(143, 162, 255, 1);
  border: none;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-right: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.keahlian-wrapper .card .icon-btn {
  background: rgba(143, 162, 255, 1);
  border: none;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-right: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.keahlian-wrapper .card-1 p {
  margin: 0;
  color: #858585;
  font-size: 1rem;
  font-weight: 300;
    text-align: justify;
}

.keahlian-wrapper .card-2 p {
  margin: 0;
  color: #858585;
  font-size: 1rem;
  font-weight: 300;
    text-align: justify;
}

.keahlian-wrapper .card p {
  margin: 0;
  color: #858585;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  width: 300px; 
}

.keahlian-wrapper .selengkapnya {
    margin-top: 10px;
    margin-right: 100px;
    color: #00bfff;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 500;
}




/*Project Section*/
.project-grid-section{
    padding: 10px 0;
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
    position: relative;
}
.project-grid-section h2{
  font-size: 2rem;
  margin-bottom: 10px;
}
.card-header p {
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: center;
}
.carousel-dots{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}
.carousel-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}
}






/* Responsive: Smartphone (480px ke bawah) */
@media screen and (max-width: 480px) {

  /*Hero Section*/
  .hero{
    height: 600px;
  }
  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -70px;
    margin-left: 40px;
    padding: 0 1rem;
  }
  .client-left{
    width: 90%;
    margin-right: 50px;
  }
  .hero-text h1 {
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
  }

  .hero-text p {
    font-size: 0.8rem;
   width: 100%;
    text-align: justify;
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .btn {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
    border-radius: 25px;
    width: 432px;
    margin-bottom: 10px;
    
  }

  .hero-image {
    width: 100%;
    text-align: center;
  }

  .hero-image img {
    width: 432px;
    height: auto;
    margin-top: 1rem;
    margin-right: 10px;
    margin-bottom: 1rem;
  }

  .page-nav {
    margin-top: 0.5rem;
    text-align: center;
  }

  .page-nav button {
    font-size: 0.9rem;
    margin: 0 4px;

  }
.section-line {
    width: 150px;
    height: 4px;
    background-color: #ddd;
    margin: 0 auto 0px;
    border-radius: 10px;
}

   /*Temukan Klien*/
    .client-content {
      
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-right: 40px;
    margin-top: -50px;
  }

  .client-left h2 {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    margin-left: 20px;

  }

  .client-left p {
    font-size: 0.8rem;
    text-align: justify;
    width: 100%;
    margin-bottom: 1.5rem;
    justify-content: center;
    height: auto;
    object-fit: contain;
    margin-left: 20px;
  }

  .client-stats {

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 432px; 
  }

    .stat-box {
  max-width: 140px;
  text-align: center;
  }
  .stat-box h3 {
    font-size: 1rem;
    width: auto;
  }

  .stat-box p {
    font-size: 0.65rem;
    text-align: left;
    width: 100%;
  }

  .client-right {
    width: 100%;
    text-align: center;
    margin-right: 50px;
  }

  .client-right img {
    max-width: 80%;
    height: auto;
    margin-left: -60px;
    margin-top: -20px;
  transition: all 0.3s ease;
  }


  /*Section Masalah*/
    .masalah {
    padding: 1rem;
  }
.masalah-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 320px;
    margin: 0 auto;

}
.masalah-card,
.masalah-header,
.masalah-body{
  width: 280px;
}

  .section-title {
    font-size: 1.2rem;
  }

  .masalah-card .masalah-header {
    background: #0a1f4c;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 1rem;
    width: 300px;
}
.keahlian-wrapper .selengkapnya {
    font-size: 1rem;
    }
    .sectione-line {
margin-bottom: 2rem;
}
.item {
display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
}
    .item img {
        width: 25px;
        height: 25px;
        margin-top: 0px;
    }
    .item p{
      font-size: 0.6rem;
    }

/*solusi section*/
.solusi-layered-section {
    background-color: #00264d;
    border-radius: 50px;
    clip-path: polygon(0% 100px, 100% 100px, 100% 100%, 0% 100%);
    color: white;
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

    .solusi-card {
    display: flex ;
    flex-direction: nowrap;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
    justify-content: center;
}
    .left-phone img {
        width: 110%;
        height: auto;
        margin-left: -80px;
        transform: translateY(-40px);
    }
    .right-content {
        align-items: center;
        text-align: center;
        margin-left: -70px;
    }
        .title-heading{
      font-size: 0.8rem;
    }
        .title-feature img {
        width: 25px;
        height: 25px;
        margin-right: -20px;
    }
    .title-feature p{
      font-size: 0.7rem;
    }


/* Section Layanan Kami */
.layanan-header h2 {
    font-size: 1.2rem;
}
.layanan-header p {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 30px;
}
  .layanan-container{
    gap: 1rem;
    width: 400px;
}

.layanan-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        row-gap: 1rem;
        column-gap: 1rem;
        margin-bottom: 0.5rem;
        text-align: left;
        width: 380px;
        flex-wrap: wrap;
}
    .layanan-column {
        flex: 1;
        width: 400px;
    }
.layanan-item img{
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
.layanan-item h4{
font-size: 0.8rem;
margin: 0 auto;
text-align: center;
}
.layanan-item p{
font-size: 0.8rem;
width: 380px;
text-align: center;
}
    .layanan-image img {
        max-width: 100%;
        height: 150px;
        margin-top: 0px;
    }


 /*keahlian section*/
.form-card {
width: 95%;
height: auto;
text-align: center;
}
  .keahlian-wrapper{
    height: 500px;
  }
  .keahlian-wrapper .container {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
  }

  .keahlian-wrapper .skills{
    flex: 1 1 20%;
    max-width: 40%;
    margin-right: 40px;
    margin-top: 20px;
    width: 300px;
  }


  .keahlian-wrapper .skills h2{
    font-size: 1.2rem;
    text-align: left;
  }
  .keahlian-wrapper .subtitle {
    text-align: left;
    margin-left: 0;
    font-size: 0.8rem;
    width: 200px;
  }
  .keahlian-wrapper .skill-bar .icon img {
    width: 30px;
    height: 30px;
}


  .keahlian-wrapper .skill-bar {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
    flex-wrap: wrap;
  }

  .keahlian-wrapper .bar-box .bar {
    width: 100%;
    max-width: 600px;
    height: 10px;
  }
.keahlian-wrapper .bar-box .label {
    font-weight: bold;
    font-size: 0.7rem;
    margin-bottom: 6px;
    color: white;
}
.keahlian-wrapper .bar-box .percent{
  font-size: 10px;
}
.keahlian-wrapper .selengkapnya {
    display: inline-block;
    margin-top: -20px;
    color: #00bfff;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 400;
}

  .keahlian-wrapper .form-card {
    margin-right: -10px;
    max-width: 200px;
    height: 350px;
    padding: 10px 25px;
    gap: 10px;
  }

  .keahlian-wrapper .form-card h3 {
    text-align: left;
    font-size: 1rem;
    margin-top: 20px;
  }

.keahlian-wrapper .card-1 {
  margin-bottom: 20px;
  margin-left: -50px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  height: 40px;
  margin-right: 60px;
  width: 190px;
}
.keahlian-wrapper .card-2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -50px;
  margin-right: 25px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  height: 40px;
  width: 210px;
}
.keahlian-wrapper .card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -50px;
  margin-right: 100px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  height: 40px;
  width: 170px;
}

.keahlian-wrapper .card-1 .icon-btn-1{
  background: rgba(143, 162, 255, 1);
  border: none;
  color: white;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-right: 5px;
  margin-left: 0px;
  cursor: pointer;
}
.keahlian-wrapper .card-2 .icon-btn-2 {
  background: rgba(143, 162, 255, 1);
  border: none;
  color: white;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-right: 5px;
  margin-left: 0px;
  cursor: pointer;
}
.keahlian-wrapper .card .icon-btn {
  background: rgba(143, 162, 255, 1);
  border: none;
  color: white;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-right: 5px;
  margin-left: 0px;
  cursor: pointer;
}

.keahlian-wrapper .card-1 p {
  margin: 0;
  color: #858585;
  font-size: 0.7rem;
  font-weight: 300;
    text-align: left;
}

.keahlian-wrapper .card-2 p {
  margin: 0;
  color: #858585;
  font-size: 0.7rem;
  font-weight: 300;
    text-align: left;
}

.keahlian-wrapper .card p {
  margin: 0;
  color: #858585;
  font-size: 0.7rem;
  font-weight: 300;
  text-align: left;
  width: 400px;
}

/*project section*/
.project-grid-section{
  padding: 20px 0;
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
    position: relative;
}
.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    margin: 0 auto;
}
.project-card {
  background: white;
  color: #000;
  border-radius: 20px;
  overflow: hidden;
  max-width: 380px;
  width: 90%;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: none; /* hanya tampil jika .active */
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  margin-top: 30px;
  opacity: 0;
  transform: scale(1);
  transition: 
    transform 0.3s ease,
    opacity 0.3s ease,
    box-shadow 0.3s ease,
    margin-top 0.3s ease;
}

.project-card.active {
  display: flex;
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  height: 390px;
  width: 290px;
  margin-top: 20px;
  margin-right: -30px;
}
.card-header .project-logo {
    width: 80px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.card-header h3 {
    font-size: 0.9rem;
    margin: 30px 0 5px 0;
    text-align: center;
}
.card-header p {
    font-size: 0.7rem;
    line-height: 1.5;
    text-align: center;
}
.card-social div {
    display: flex;
    align-items: center;
    font-size: 6px;
    margin-bottom: 6px;
    gap: 5px;
}
.card-social img {
    width: 9px;
    height: 9px;
}
.card-image{
  margin-top: 10px;
  border-radius: 20px;
}
.view-icon{
  margin-bottom: 15px;
  font-size: 8px;
}
.carousel-btn.next {
  right: 10px;
  margin-bottom: 60px;
}
.carousel-btn.prev {
  left: 10px;
  margin-bottom: 60px;
}
    /* Partner Section */
.partner-section h2 {
    color: #003366;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.partner-section p {
    color: #003366;
    font-size: 1rem;
    margin-bottom: 1rem;
}
    
  .partner-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.partner-card {
  background: #f6f6f6;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 105px;
  height: 140px;
  padding: 20px;
  transition: transform 0.3s;
}

.partner-card:hover {
  transform: translateY(-5px);
}

.partner-link{
  font-size: 0.5rem;
}
.partner-logo img {
  width: 95%;
  max-height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.partner-card:hover .partner-logo img {
  transform: scale(1.05);
} 
.slidere-nav{
  margin-top: 30px;
  margin-bottom: 30px;
}

  /* Testimonial Section */
  .ulasan-klien{
    margin-top: 70px;
  }

   .ulasan-klien h2 {
  font-size: 1.2rem;
  margin-top: -100px;
}
 
.testimonial-wrapper
 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

  .testimonial-card {
      background: rgba(217, 217, 217, 0.35);
    flex-direction: column;
    align-items: flex-start;
      overflow: visible;
  height: 200px;
    box-shadow: 0 6px 20px rgba(109, 109, 109, 0.1);
  }

  .testimonial-text {
   font-size: 0.8em;
  color: #6b6b6b;
  flex: 1;
  z-index: 1;
  position: relative;
  max-width: 100%;
  margin-left: 5px;
  margin-top: 0px;
  text-align: justify;
  }

  .client-info-outside {
    position: absolute;
    right: 0;
    margin-top: 60px;
    margin-right: 50px;
    height: 70px;
    width: 70%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    background: rgb(133, 133, 133);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .client-logo {
    width: 30px;
  }

  .client-name {
    color: white;
    text-align: left;
  }
/* Slider dot */
.slider-nav {
  margin-top: 40px;
}

.dot {
  height: 6px;
  width: 6px;
  margin: 0 4px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: #002f6c;
}


/*.join-section*/
.join-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 0.5rem;
}
.join-logo{
display: none;
}
  .join-section {
    padding: 10px 10px;
    margin: 40px auto;
    width: 440px;
    height: 190px;
  }
  .join-left h2 {
    font-size: 1rem;
    margin-left: 15px;
    margin-bottom: 5px;
  }

  .join-left p {
    font-size: 10px;
    margin-left: 15px;
    width: 210px;
  }
.app-buttonGP,
.app-buttonAP, 
.socials-links{
  display: none;
}
  .join-right img {
    max-width: 160px;
    height: 160px;
    margin-bottom: 20px;
  }
  .socials-links {
    display: flex;
    gap: 1rem;
    margin-top: -15px;
    margin-left: 0px;
}

}
